<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anagrafica</title>
    <script src="built/bundle.js" defer></script>
</head>
<body>
<div id="anagrafica"></div>
<!--<div>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Bambino</th>
            <th>Data di Nascita</th>
            <th>Contatti</th>
        </tr>
        </thead>
        <tbody th:each="k : ${kids}" th:remove="all-but-first">
        <tr>
            <td th:text="${k.id}">001</td>
            <td th:text="${k.name}">Giulia</td>
            <td th:text="${k.dob}">25-02-2001</td>
            <td th:text="${'contacts'}">Contatti</td>
        </tr>
        <tr>
            <td>002</td>
            <td>Jacopo</td>
            <td>19-08-2000</td>
            <td>Contatti</td>
        </tr>
        </tbody>
    </table>
</div>-->
</body>
</html>